<h1>Welcome Founder</h1>

<p>
  <%= @greeting %>, your team member <%= @sender %> added you to <%= @company %>. :)
</p>
<p>
  To accept this invite, please sign up at this link: <%= link_to "Sign up", @url %>
</p>
