form {
  label {
    display: block;
  }

  .actions {
    padding: 20px 0;
  }

  .inline {
    display: inline;
  }

  .error-field {
    padding-top: 20px;
    padding-bottom: 20px;

    p {
      color: #ff4759;
    }
  }
}
