<div>
  <% if @companies.length == 0 %>
    There are no approved companies awaiting investment right now. Please check back later!
  <% else %>
    <% @companies.each do |company| %>
      <%= link_to company_path(company) do %>
        <div class="companyBlock">
          <%= image_tag(company.logo) %>
          <%= company.name %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
