<div class="container-fluid">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3>Companies</h3>
    <% if @companies.length == 0 %>
      There are no approved companies awaiting investment right now. Please check back later!
    <% else %>
      <% @companies.each do |company| %>
        <%= link_to company_path(company) do %>
          <div class="companyBlock">
            <div class="summary">
              <div class="text">
                <%= company.summary %>
              </div>
            </div>
            <div class="details">
              <div class="founded">
                <%= company.founded %>
              </div>
              <div class="location">
                <%= company.location %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
