<div class="container-fluid">
  <div class="col-md-3"></div>
  <div class="col-md-6 centerContent">
    <section>
      <h1>Investor Profile</h1>
      <h3><%= @buyer.business_role %> at <%= @buyer.business %></h3>
    </section>
    <section>
      <div class="title">
        Investor Info:
      </div>
      <p>
        <%= @buyer.about %>
      </p>
    </section>
    <section>
      <%= link_to "Message", conversations_path(buyer: @buyer), method: :post %>
    </section>
  </div>
  <div class="col-md-3"></div>
</div>
